<p>player works!</p>
<p>palyer works!</p>
<H3 style="text-align: center;">Palyer List</H3>
<table style="text-align: center; align-items: center;" class="table">
    <thead>
        <tr>
            <th>TeamId</th>
            <th>Name</th>
            <th>Age</th>
            <th>Category</th>
            <th>BiddingPrice</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let t of teams">
            <td>{{t.teamid}}</td>
            <td>{{t.name}}</td>
            <td>{{t.age}}</td>
            <td>{{t.biddingPrice}}</td>
            <td>{{t.category}}</td>
            
  
        </tr>


    </tbody>

</table>