<p>player works!</p>
<h3 style="text-align: center;">Player List</h3>
<table style="text-align: center; align-items: center;" class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>TeamId</th>
            <th>Category</th>
            <th>BiddingPrice</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let t of items">
            <td>{{t.id}}</td>
            <td>{{t.name}}</td>
            <td>{{t.age}}</td>
            <td>{{t.teamId}}</td>
            <td>{{t.category}}</td>
            <td>{{t.biddingPrice}}</td>
            <td><button (click)="Edit()" class="btn btn-primary">Edit</button></td>
            <td><button (click)="Delete()" class="btn btn-warning">Delete</button></td>
        </tr>
    </tbody>

</table>