<p>student-post works!</p>
<form (ngSubmit)="saveData(playerdata)" #playerform="ngForm">
    <div>
        <label for="name">Name</label>
        <input [(ngModel)]="playerdata.name" type="text" id="name" name="name">
    </div>
 
    <div>
        <label for="age">Age</label>
        <input [(ngModel)]="playerdata.age" type="text" id="age" name="age">
    </div>
 
    <div>
        <label for="category">Category</label>
        <input [(ngModel)]="playerdata.category" type="number" id="category" name="category">
    </div>
    <div>
        <label for="biddingPrice">BindingPrice</label>
        <input [(ngModel)]="playerdata.biddingPrice" type="number" id="biddingPrice" name="biddingPrice">
    </div>
    
    <div>
        <button class="btn btn-primary" type="submit">Save detail</button>
    </div>
 
</form>
