

<ul>
    <li><a href="default.asp">Home</a></li>
    <li><a [routerLink] = "'login'" >Login</a></li>
    <li><a [routerLink]="'findplayer'">Find ById</a></li>
    <li><a [routerLink]="'getdetail'">Player Details</a></li>
    <!-- <li><a href="add-info">Add Detail</a></li> -->
    <li> <a [routerLink]="'delete'">Delete Players</a></li>
  </ul>

  <a [routerLink]="'add-info'">Add Players</a>
 
 <!-- <app-player></app-player>  -->
 <img src="/home/coder/project/workspace/angularapp/src/assets/background.jpg" alt="Girl in a jacket" width="500" height="600">
  <router-outlet></router-outlet>
  